/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Segoe UI", Roboto, sans-serif;
}

body{
  background:#f2f5fa;
  color:#333;
}

/* HEADER */
.site-header{
  background:#1e3a8a;
  color:white;
  padding:14px 0;
  box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.header-inner{
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.nav-link{
  margin-left:20px;
  text-decoration:none;
  color:white;
  font-weight:500;
  transition:.2s;
}

.nav-link:hover{
  opacity:.7;
}

.container{
  width: min(1100px, 90%);
  margin:auto;
}

/* FOOTER */
.site-footer{
  background:#1e3a8a;
  color:white;
  text-align:center;
  padding:15px;
  margin-top:40px;
}

/* FORM */
.card{
  background:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0 3px 8px rgba(0,0,0,0.08);
  margin-top:25px;
}

.form-grid{
  display:grid;
  gap:12px;
}

.input, textarea{
  width:100%;
  padding:10px;
  border:1px solid #ccc;
  border-radius:8px;
  font-size:15px;
}

.input:focus, textarea:focus{
  outline:2px solid #2563eb;
}

/* BUTTONS */
.btn{
  background:#2563eb;
  padding:10px 14px;
  border:none;
  border-radius:8px;
  color:white;
  cursor:pointer;
  font-weight:600;
  transition:.2s;
}

.btn:hover{
  background:#1e40af;
}

.btn.secondary{
  background:#ef4444;
}

.btn.secondary:hover{
  background:#b91c1c;
}

/* PRODUCT GRID */
.product-grid{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
  gap:20px;
  margin-top:25px;
}

.product-card{
  background:white;
  border-radius:12px;
  padding:15px;
  box-shadow:0 2px 8px rgba(0,0,0,0.08);
  transition:.25s;
  display:flex;
  flex-direction:column;
}

.product-card:hover{
  transform:translateY(-6px);
}

.product-card img{
  width:100%;
  height:180px;
  object-fit:cover;
  border-radius:10px;
}

/* TEXT */
.price{
  font-size:20px;
  font-weight:bold;
  color:#16a34a;
  margin:6px 0;
}

.small{
  font-size:14px;
  opacity:.7;
}

.card-buttons{
  display:flex;
  justify-content:space-between;
  margin-top:12px;
}

.product-card img {
  width: 100%;
  height: 160px;
  object-fit: contain;
  background: #e6e6e6;
  border-radius: 10px;
  padding: 10px;
}


